name: Go
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:

  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:

    - name: Download protobuf
      run: curl -OL https://github.com/protocolbuffers/protobuf/releases/download/v21.9/protobuf-all-21.9.tar.gz && tar xzvf protobuf-all-21.9.tar.gz

    - name: Install protobuf
      run: cd protobuf-21.9 && ./configure DIST_LANG=cpp --prefix=/usr && make && sudo make install && sudo ldconfig

    - name: Check out code
      uses: actions/checkout@v1

    - name: Read Go versions
      run: echo "##[set-output name=go_version;]$(cat .github/versions/go)"
      id: go_versions

    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ steps.go_versions.outputs.go_version }}
      id: go

    - name: Build
      run: go test -race ./...
